<%=fields_for @slide do |f|%>
	<p><b><%=f.label :name%></b></p>
	<p><%=f.text_field :name%> </p> 
	<p><%=f.check_box :show_clock%> <b><%=f.label :show_clock%></b></p>
	<p><%=f.check_box :public%> <b><%=f.label :public%></b> </p>
	<p><%=f.text_field :duration, :size => 3%> <b><%=f.label :duration%></b> </p>

	<h3><%=f.label :description%></h3>
	<%=f.text_area :description, :cols => 50, :rows => 5%>
<%end%>