<div class="slide_metadata">
<%=fields_for @slide do |f|%>
	<h3><%=f.label :name%></h3>
	<p><%=f.text_field :name%></p> 
	
	<h3><%=f.label :description%></h3>
	<p><%=f.text_area :description, :cols => 50, :rows => 5%></p>
	
	<h3>Settings</h3>
	<table class="slide_settings">
		<tr>
			<td><%=f.check_box :show_clock%></td>
			<td><%=f.label :show_clock%></td>
		</tr>
		<tr>
			<td><%=f.check_box :public%></td>
			<td><%=f.label :public%></td>
		</tr>
		<tr>
			<td><%=f.text_field :duration, :size => 3%></td>
			<td><%=f.label :duration%></td>
		</tr>
	</table>
<%end%>
</div>