<%=fields_for :slide, @slide do |f|%>
	<p><b><%=f.label :name%>:</b> <%=f.text_field :name%></p> 
	<p><b><%=f.label :show_clock%>:</b> <%=f.check_box :show_clock%></p>
	<p><b><%=f.label :public%>:</b> <%=f.check_box :public%></p>

	<h3><%=f.label :description%></h2>
	<%=f.text_area :description, :cols => 50, :rows => 5%>
<%end%>