<%unless group.slides.empty?%>
  <table class="compact_slidelist">
    <tr>
      <th>
        <%unless group.id == MasterGroup::Ungrouped_id%>
          <%=group_link_tag(group)%>
          <%slides = group.slides.current%>
        <%else%>
          <a name="group_<%=group.id%>">Ungrouped slides</a>
          <%slides = Slide.current.ungrouped.order('id desc')%>
        <%end%>
      </th>
    </tr>
    <tr>
      <td>
          <%slides.each do |slide|%>
            <%if slide.can_edit?(current_user)%>
              <%cache(:controller => :slides, :action => :show, :id => slide.id, :edit => true) do %>
                <%=render :partial => 'slide', :locals => {:slide => slide}%>
              <%end%>
            <%elsif slide.can_hide?(current_user)%>
              <%cache(:controller => :slides, :action => :show, :id => slide.id, :hide => true) do %>
                <%=render :partial => 'slide', :locals => {:slide => slide}%>
              <%end%>
            <%else%>
              <%cache(:controller => :slides, :action => :show, :id => slide.id) do %>
                <%=render :partial => 'slide', :locals => {:slide => slide}%>
              <%end%>
            <%end%>
    
          <%end%>
        
      </td>
    </tr>
  </table>
<%end%>
