<%unless group.slides.empty?%>
	<table class="compact_slidelist">
		<tr>
			<th>
				<%unless group.id == Event.current.ungrouped.id%>
					<%=group_link_tag(group)%>
					<%slides = group.slides.current%>
				<%else #group is current events ungrouped slide group%>
					<a name="group_<%=group.id%>">Ungrouped slides</a>
					<%slides = group.slides.current.order('id desc')%>
				<%end%>
			</th>
		</tr>
		<tr>
			<td>
				<%slides.each do |slide|%>
					<%if slide.can_edit?(current_user)%>
						<%cache(slide.rw_cache_key, tag: slide.cache_tag) do %>
							<%=render slide%>
						<%end #cache%>
					<%elsif slide.can_hide?(current_user)%>
						<%cache(slide.hide_cache_key, tag: slide.cache_tag) do %>
							<%=render slide%>
						<%end #cache%>
					<%else #user can't do anything to slide'%>
						<%cache(slide.ro_cache_key, tag: slide.cache_tag) do %>
							<%=render slide%>
						<%end #cache%>
					<%end #slide.can_edit?...%>
				<%end%>
			</td>
		</tr>
	</table>
<%end #unless group.slides.empty?%>
