<% slidedata = (@slide.is_a?(HttpSlide) ? @slide.slidedata : HttpSlide::DefaultSlidedata)%>

<%=fields_for @slide do |f|%>
	<%=f.fields_for :slidedata do |f|%>
		<p>
			<%=f.url_field :url, :value => slidedata[:url]%>
			<%=f.label :url, 'URL to fetch from (http or https)' %>
		</p>
		<p>
			<%=f.text_field :user, :value => slidedata[:user]%>
			<%=f.label :user, "HTTP basic auth username (if needed)"%>
		</p>
		<p>
			<%=f.text_field :password, :value => slidedata[:password]%>
			<%=f.label :password, 'HTTP basic auth password (if needed, stored clear text)'%>
		</p>
	<%end%>
<%end%>