<% slidedata = (@slide.is_a?(HttpSlide) ? @slide.slidedata : HttpSlide::DefaultSlidedata)%>

<%=fields_for @slide do |f|%>
	<%=f.fields_for :slidedata do |f|%>
		<p>
			<%=f.label :url, 'URL to fetch from (http or https)'%>
			<%=f.url_field :url, :value => slidedata[:url]%>
		</p>
		<p>
			<%=f.label :user, "HTTP basic auth username (if needed)"%>
			<%=f.text_field :user, :value => slidedata[:user]%>
		</p>
		<p>
			<%=f.label :password, 'HTTP basic auth password (if needed, stored clear text)'%>
			<%=f.text_field :password, :value => slidedata[:password]%>
		</p>
	<%end%>
<%end%>