<div class="navigation">&nbsp;
	<%=link_to 'List', :controller => :slides, :action => :index%>
	<%if Slide.can_create? current_user%>
		<%=link_to "New", :controller => :slides, :action => :new%>
	<%end%>
	<%=link_to 'Hidden', :controller => :slides, :action => :hidden%>
	<%=link_to 'Thrashed', :controller => :slides, :action => :thrashed%>
	<%= yield :navigation%>
</div>