	<%=fields_for @slide do |f|%>

<div class='simple_editor_container'>
		<% slidedata = (@slide.is_a?(SimpleSlide) ? @slide.slidedata : SimpleSlide::DefaultSlidedata)%>

		<div class='simple_editor_controls'>
			
			<h2>Slide metadata and settings</h2>

			<%=render :partial => 'form'%>
			
			
			<h2>Slide contents</h2>

			<p>Use &lt;foo&gt; to highlight text in the slide.</p>
			<p>You need to have the following fonts installed for the editor to work correctly:
				<a href='/fonts/Franklin_Gothic_Heavy-Regular.ttf'>Franklin Gothic Heavy Regular</a> and
				<a href='/fonts/Franklin_Gothic_Heavy-Italic.ttf'>Franklin Gothic Heavy Italic</a>
			</p>


			<%=f.fields_for :slidedata do |f|%>
				<%=f.text_area :heading, {:id => "head", :rows => 1, :cols => 31, :wrap => "soft", :value => slidedata[:heading]}%>
			
				<%=f.text_area :text, {:id => "text", :rows => 6, :cols => 53, :value => slidedata[:text]}%>

				<%=simple_text_align_select(f, slidedata[:text_align])%>
				<%=simple_text_size_select(f, slidedata[:text_size])%>
				<%=simple_color_select(f, slidedata[:color])%>
				
				
			<%end%>
			
			<%=f.hidden_field :svg_data, {:id => "code"}%>
			
			<%=f.submit%>
						
		</div>
		
		<div class="simple_editor_preview">
			<h3>Preview</h3>

			<div id="wrapper">
				<object id="svg" type="image/svg+xml" data="/simple.svg"></object>
			</div>
		</div>
		
</div>
	<%end # fields for%>
