<div class='simple_editor_container'>
	<%=fields_for @slide do |f|%>
		<% slidedata = (@slide.is_a?(SimpleSlide) ? @slide.slidedata : SimpleSlide::DefaultSlidedata)%>

		<%=f.submit%>

		<div class='simple_editor_controls'>
			<h2>Slide contents</h2>

			<p>Use &lt;foo&gt; to highlight text in the slide.</p>
			<p>You need to have the following fonts installed for the editor to work correctly:
				<a href='/fonts/Franklin_Gothic_Heavy-Regular.ttf'>Franklin Gothic Heavy Regular</a> and
				<a href='/fonts/Franklin_Gothic_Heavy-Italic.ttf'>Franklin Gothic Heavy Italic</a>
			</p>


			<%=f.fields_for :slidedata do |f|%>
				<%=f.text_area :heading, {:id => "simple_head", :rows => 1, :cols => 31, :wrap => "soft", :value => slidedata[:heading], data: {simple_field: true}}%>
				<br/>
				<%=f.text_area :text, {:id => "simple_text", :rows => 6, :cols => 53, :value => slidedata[:text], data: {simple_field: true}}%>

				<%=simple_text_align_select(f, slidedata[:text_align])%>
				<%=simple_text_size_select(f, slidedata[:text_size])%>
				<%=simple_color_select(f, slidedata[:color])%>
				
				
			<%end%>
			
			<%=f.hidden_field :svg_data, {:id => "code"}%>
			
			<br />


			<h2>Slide metadata and settings</h2>

			<%=render :partial => 'form'%>

			<p>
				<%=f.submit%>
			</p>
		</div>
	<%end #fields for%>

	<div class="simple_editor_preview">
		<h3>Preview</h3>
		<div id='updating_preview'><p>Updating preview...</p></div>

		<div id="svg_container" class="svg_container" style="width: 400px; height 255px">
			<svg id='svg'>
		
			</svg>
		</div>
		
	</div>
</div>