<div>
	<table class="slidetable">
		<colgroup>
			<col class ="name" />
			<col class ="group" />
			<col class ="preview" />
			<col class ="actions" />
		</colgroup>
		<tr>
			<th>Name</th>
			<th>Data</th>
			<th>Preview</th>
			<th>Actions</th>
		</tr>
		<% slides.each do |s| %>
		<tr class="<%= s.public ? 'published' : 'hidden'%>">
			<td><%=s.name%></td>
			<td class="slideattributes">
				Visibility: <%= s.public ? "Published" : "Hidden"%> <br />
				Clock: <%= s.show_clock ? 'Yes' : 'No'%> <br />
				<% if s.grouped?%>
					Group: <%=s.master_group.name%><br />
					Position: <%=s.position%> <br />
				<%end%>
				
				<% if s.replaced?%>
					Replaced with: <%=link_to s.replacement.name, :action => :show, :id => s.replacement.id%> <br />
				<% end%>
				Pictures generated: <%=s.ready ? 'Yes' : 'No'%><br />
			</td>
			<td><%=preview_tag s%></td>
			<td>
				<%=link_to 'Details', :action => :show, :id => s.id%> <br />
				<%if s.is_svg?%>
					<%=link_to 'Edit SVG', :action => :svg_edit, :id => s.id%> <br />
					<%=link_to 'Download SVG', :action => :svg_data, :id => s.id%> <br />
				<%end%>

				<%if s.public%>
					<%=button_to "Hide", {:action => :hide, :id => s.id}, :method => :post ,:class => 'public_toggle',:remote => true%>
				<%else%>
					<%=button_to "Publish", {:action => :publish, :id => s.id}, :method => :post ,:class => 'public_toggle',:remote => true%>
				<%end%>
				<%if s.grouped?%>
					<%=button_to 'Ungroup', :action => :ungroup, :id => s.id%>
				<%end%>
				<%= link_to 'Delete', {:action=>:destroy, :id=>s.id}, :confirm=>"Are you sure?", :method=>:delete %>
			</td>
		</tr>
		<%end%>
	</table>
</div>
