<div class='slide_group_info info_block'>
	<%if s.grouped?%>
		<h3>Group information</h3>
		
		<p>
			<b>Group:</b>
			<%=link_to s.master_group.name, :controller => :groups, :action => :show, :id => s.master_group.id%>
		</p>

		<p>
			<b>Position in the group:</b>
			<%=s.position%>
		</p>
	
	<%elsif s.can_edit?(current_user) && !MasterGroup.can_edit(current_user).empty?%>
		<h3>Ungrouped slide</h3>
		
		<%= form_for :add_to_group, :url => {:action => :add_to_group, :id => s.id} do |f|%>
	  		<p>
				Add this slide to group:
				<%=f.select :group_id, options_for_select(MasterGroup.can_edit(current_user).all.collect {|g| [ g.name, g.id ] })%>
				
				<%=f.submit 'Add'%>
			</p>
		<%end #form for%>
	<%end #if grouped?%>
</div>