<h1>Editing http slide</h1>

<%=form_for @slide, :as => :slide, :url => {:action => :update, :id => @slide.id} do |f|%>
	<%=f.error_messages%>
	<%=render :partial => 'form' #Generic slide form%>
	
	<%=render :partial => 'http_slide_form' #Fields specific to HttpSlides%>
	
	<%=f.submit "Update"%>
<%end%>