<h1>Listing slides</h1>

<div class='slidefilter'>
  <%=filter_links @filter%>
</div>

<div class="slidelist">

<%if @filter%>

<div class='slidegroups'>
  <table class="compact_slidelist">
    <tr>
      <th>
        Slides I can <%=@filter == :edit ? 'edit' : 'hide'%>
      </th>
    </tr>
    <tr>
      <td>
          <%=render :partial => 'slide', :locals => {:slides => @slides }%>
      </td>
    </tr>
  </table>  
</div>


<%else%>
<div class="grouplinks" id="scrollingDiv">
  <p>Goto group:</p>
  <ul>
    <li>
      <a href="#ungrouped" class="grouplink">Ungrouped</a>
    </li>
  <%@groups.each do |group|%>
	  <%unless group.slides.count == 0%>
	    <li>
        <a href="#<%=group.name%>" class="grouplink"><%=group.name%></a>
      </li>
    <%end%>
  <%end%>
  </ul>
</div>

<%=render :partial => 'slidegroups'%>

<%end%>
</div>