<h1>Information for slide: <%=@slide.name%></h1>
<div class='slideinfo'>

<div class='slide_metadata info_block left_column'>
<%=render :partial => 'slide', :locals => {:slide => @slide, :to_full => true}%>

<%=render :partial => 'slide_presentation_list', :locals => {:s => @slide}%>
  
<%=render :partial => 'slide_overrides', :locals => {:s => @slide}%>
</div>

<div class='slide_metadata info_block right_column'>
<h2>Slide metadata</h2>

  <%if @slide.public%>
    <div class="warning">
	    <p>This slide is public, you should hide it before editing.</p>
    </div>
  <% else %>
    <div>
	    <p>This slide is hidden won't be shown in any presentations. You need to publish it before it will be shown anywhere.</p>
    </div>
  <%end%>

  <%if @slide.replaced?%>
	  <div class="warning">
		  <p>This slide has been replaced! The replacement slide is <%=link_to @slide.replacement.name, :action => :show, :id => @slide.replacement.id%>.</p>
	  </div>
  <%elsif @slide.deleted%>
	  <div class="warning">
		  <p>This slide has been deleted. <%=button_to 'Undelete', :action => :undelete, :id => @slide.id, :class => 'button' if current_user.has_role?(Slide::AdminRole)%></p>
	  </div>
  <%end%>
  
  <ul>
    <li>Slide class: <%=slide_class @slide%></li>
    <li>Last modified: <%=I18n.l(@slide.updated_at, :format => :short) %></li>
    <li>Images generated? <%=@slide.ready ? 'Yes' : 'No'%></li>
  </ul>
		
		
	
</div>
<%=render :partial => 'slide_group_info', :locals => {:s => @slide}%>

<%= render :partial => 'shared/authorized_users', :locals => {:obj => @slide}%>
	

</div>

<%if @slide.can_edit? current_user%>
  <%content_for :navigation do %>
	  <%=link_to 'Edit', {:action => :edit, :id => @slide.id}, :confirm => (@slide.public ? 'This is a public slide, are you sure you want to edit it?' : nil)%>
	  <%if @slide.is_a?(SvgSlide)%>
	    <%=link_to('Convert to inkscape', {:action => :to_inkscape, :id => @slide.id}, :method => :post) if current_user.has_role?('slide-admin')%>
	  <%end%>
	  
	  <%=link_to('Convert to simple', {:action => :to_simple, :id => @slide.id}, :method => :post) if current_user.has_role?('slide-admin') && @slide.type == SvgSlide.sti_name%>
	  
	  <%=link_to( 'Download', {:action => :svg_data, :id => @slide.id}, :confirm => (@slide.public ? 'This is a public slide, are you sure you want to edit it?' : nil)) if @slide.is_a?(InkscapeSlide)%>
  <%end%>
<%end%>
