<h1>Edit presentation</h1>

<%=form_for @presentation, :url => {:action => :update} do |f|%>
	<%=f.error_messages%>
	<%=render :partial => 'form'%>
	<%=f.submit "Update"%>
<%end%>

<h2>Component groups</h2>

<%if @presentation.can_edit? current_user%>
<%=form_for :group, :url => {:action => :add_group, :id => @presentation.id} do |f|%>
	<p><b>Add group to end of presentation (all groups):</b> <%=f.select :id, current_event.master_groups.defined_groups.all.collect {|p| [ p.name, p.id ] }%>
		<%=f.submit "add"%>
	</p>
<%end%>
<%unless @orphan_groups.empty?%>
	  <%=form_for :group, :url => {:action => :add_group, :id => @presentation.id} do |f|%>
	  <p><b>Add group to end of presentation (groups not in this presentation):</b> <%=f.select :id, @orphan_groups.collect {|p| [ p.name, p.id ] }%>
		  <%=f.submit "add"%>
	  </p>
  <%end%>
<%end%>
<%end%>

<p>Slide counts are public slides/total slides. Drag groups to reorder.</p>

<ul id="groups" class="sortable" data-sortable='<%=url_for(:controller => :presentations, :action => :sort, :id => @presentation.id)%>'> 
	<%=render :partial => 'group_items', :locals => {:presentation => @presentation}%>
</ul>



<%content_for :navigation do%>
	<%=link_to 'Details', :action => :show, :id => @presentation.id%>
	<%=link_to 'Preview', :action => :preview, :id => @presentation.id%>
<%end%>