<%if @user %>
<h1>Welcome to ISK</h1>

<%=button_to 'Logout', {:action => :destroy}, :method => :delete%>


<% else %>
<h1>ISK - Login required</h1>
<p>
  <a href='/InkscapePortable-ISK-v2.exe'>InkscapePortable-ISK-v2.exe</a> <br />
  <a href='/fonts/Franklin_Gothic_Heavy-Regular.ttf'>Franklin Gothic Heavy - Regular.ttf</a> <br />
  <a href='/fonts/Franklin_Gothic_Heavy-Italic.ttf'>Franklin Gothic Heavy - Italic.ttf</a> <br />
</p>

<%=form_tag :controller => :logins, :action => :create do%>
  <p><b>Username: <%=text_field_tag :username%></b></p>
  <p><b>Password: <%=password_field_tag :password%></b></p>
  <%=submit_tag 'Login'%>
<%end%>

<%end%>
