<h1>Listing all slide SVG templates</h1>

<div class="slidetemplates">
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
		<%@templates.each do |t|%>
		<tr>
			<td><%=t.name%></td>
			<td><%=simple_format h(t.description)%></td>
			<td>
				<%=link_to 'Edit metadata', :action => :edit, :id => t.id%> <br />
				<%=link_to 'Edit SVG data', :action => :svg_edit, :id => t.id%> <br />
				<%=link_to 'Delete', {:action=>:destroy, :id=>t.id}, :confirm=>"Are you sure?", :method=>:delete %>
			</td>
		</tr>
		<%end%>
	</table>
</div>