<h1>Upload new slide</h1>

<%=form_for @template, :url => {:action => :create} do |f|%>
	<%=f.error_messages%>
	<%=render :partial => 'form'%>
	<p><%=radio_button_tag :create_type, 'empty_file', :checked => true%><b>Start with empty SVG file</b></p>
	<p><%=radio_button_tag :create_type, 'from_template'%><b>Start from existing template: 
		<%=select_tag :use_template, options_for_select(SlideTemplate.all.collect {|p| [ p.name, p.id ] })%></b>
	<p><%=radio_button_tag :create_type, 'upload_file'%><b>Upload SVG file:</b><%=f.file_field :upload%></p>
	<%=f.submit "Create"%>
<%end%>