<h1>Information for slide: <%=@slide.name%></h1>

<%if @slide.replaced?%>
	<div class="warning">
		<p>This slide has been replaced! The replacement slide is <%=link_to @slide.replacement.name, :action => :show, :id => @slide.replacement.id%>.</p>
	</div>
<%elsif @slide.deleted%>
	<div class="warning">
		<p>This slide has been deleted. <%=button_to 'Undelete', :action => :undelete, :id => @slide.id%></p>
	</div>

<%else%>

<p><b>Images generated?</b> <%=@slide.ready ? 'Yes' : 'No'%></p>
	<%if @slide.grouped?%>
		<p><b>Group:</b> <%=@slide.master_group.name%></p>
		<p><b>Position in the group:</b> <%=@slide.position%></p>
		<p><%=button_to 'Ungroup', :action => :ungroup, :id => @slide.id%></p>
	<%else%>
		<p><b>This slide is ungrouped</b></p>
	<%end%>
<p><%=link_to 'Replace this slide', :action => :replace, :id => @slide.id%></p>
<p><%= link_to 'Delete this slide', {:action=>:destroy, :id=>@slide.id}, :confirm=>"Are you sure?", :method=>:delete %></p>
<%end%>
<%=full_size_tag @slide.id%>

<%content_for :navigation do %>
	<%=link_to 'Edit', :action => :edit, :id => @slide.id%>
	<%if @slide.is_svg?%>
		<%=link_to 'Edit SVG', :action => :svg_edit, :id => @slide.id%>
	<%end%>
<%end%>