<h1>Edit master group</h1>

<%=form_for @group, :url => {:action => :update} do |f|%>
	<%=f.error_messages%>
	<%=render :partial => 'form'%>
	<%=f.submit "Update"%>
<%end%>

<h2>Reorder slides</h2>

<p>Drag slides to reorder them.</p>
  
<ul id="slides" class="sortable" data-sortable='<%=url_for(:controller => :groups, :action => :sort, :id => @group.id)%>'> 
	<%=render :partial => 'slide_items', :locals => {:group => @group}%>
</ul>



<%content_for :navigation do%>
	<%=link_to 'Details', :action => :show, :id => @group.id%>
  <%=link_to 'Hide all slides', {:action => :hide_all, :id => @group.id}, :method => :post%>
  <%=link_to 'Publish all slides', {:action => :publish_all, :id => @group.id}, :method => :post%>
  <%=link_to 'Add slides', :action => :add_slides, :id => @group.id%>
  <%=link_to 'Delete',{:action => :destroy, :id => @group.id}, :method => :delete, :confirm => "Are you sure?"%>
<%end%>