<h1>Listing all groups</h1>

<%=form_for @new_group, :url => {:action => :create} do |f|%>
<p><b>Add new group with name:</b> <%=f.text_field :name%>
<%=f.submit "Add group"%></p>
<%end%>

<h2>Groups in current event (<%=current_event.name%>)</h2>

<%=render :partial => 'shared/group_links'%>

<div class="grouplist">
  <%=render :partial => 'group', :collection => @groups%> 
</div>
