<h1>Assign roles to a user: <%=@user.username%></h1>

<%=form_for :roles, :url => {:action => :grant, :id => @user} do |f| %>
	<table>
		<tr>
			<th>Roles</th>
		</tr>
	<%@roles.each do |r| %>
		<tr>
			<td>
			<%=f.check_box(r.id, ( @user.has_role?(r.role) ? {:checked => true} : {:checked => false}))%> <%=r.role%>
			</td>
		</tr>
	<%end%>
</table>

	<%=submit_tag 'Assign roles'%>
<%end%>