<h1>User information for: <%=@user.username%></h1>
<p><b>Roles:</b> <%=@user.roles_text%></p>


<%unless @user.displays.empty?%>
<h2>Owned displays</h2>
<ul>
<%@user.displays.each do |d|%>
  <li><%=link_to d.name, :controller => :displays, :action => :show, :id => d.id%></li>
<%end%>
</ul>
<%end%>



<%unless @user.master_groups.empty?%>
<h2>Owned groups</h2>
<ul>
<%@user.master_groups.each do |g|%>
  <li><%=link_to g.name, :controller => :groups, :action => :show, :id => g.id%></li>
<%end%>
</ul>
<%end%>


<%unless @user.slides.empty?%>
<h2>Owned slides</h2>
<ul>
<%@user.slides.each do |s|%>
  <li><%=link_to s.name, :controller => :slides, :action => :show, :id => s.id%></li>
<%end%>
</ul>
<%end%>