<%=fields_for @schedule do |f|%>
	<h2>Metadata and settings <%=f.submit%></h2>
	<p><%=f.label :name%>: <%=f.text_field :name%></p>
	<p><%=f.label :max_slides%>: <%=f.text_field :max_slides, :size => 3%></p>
	<p><%=f.label :min_events_on_next_day%>: <%=f.text_field :min_events_on_next_day, :size => 3%></p>
	<p><%=f.label :up_next%>: <%=f.check_box :up_next%></p>
	
	
	<%if @schedule.schedule_events.present?%>
		<h2>Scheduled events <%=f.submit%></h2>
		<table class="scheduled_events_edit">
			<tr>
				<th>Time</th>
				<th>Name</th>
				<th>Major</th>
			</tr>
		<%=f.fields_for :schedule_events do |f|%>
			<tr>
				<td>
					<%=f.datetime_select :at%>
				</td>
				<td>
					<%=f.text_field :name%>
				</td>
				<td>
					<%=f.check_box :major%>
				</td>
			</tr>
		<%end%>
	</table>
	<%end%>
<%end%>