<h1>Editing schedule: <%=@schedule.name%></h1>

<h2>Add new event to this schedule</h2>
<%=form_for @new_event, :url => {:action => :add_event, :id => @schedule.id}, :remote => true do |f|%>
	<%=render :partial => 'event_form', :object => @new_event%>
<%end%>


<%=form_for @schedule do |f|%>
	<%=render :partial => 'form'%>
	<%=f.submit%>
<%end%>
