<h1>Schedule information for <%=@schedule.name%></h1>

<%=render @schedule%>

<div class="schedule_events">	
	<%unless @schedule.schedule_events.empty?%>
		<h2>Scheduled events</h2>
		
		<table class="schedule_events">
			<tr>
				<th>Time</th>
				<th>Name</th>
				<th>Major</th>
			</tr>
			<%@schedule.schedule_events.each do |event|%>
				<%=render :partial => 'schedule_event', :object => event%>
			<%end%>
		</table>
	<%else%>
	<p class="warning">This schedule doens't contain any events!</p>
		
	<%end%>
	
</div>

<%=content_for :navigation do%>
	<%=link_to 'Edit', :controller => :schedules, :action => :edit, :id => @schedule.id%>
<%end%>