<div class="display_info <%=display.late? ? 'late' : ''%>" id="display_<%=display.id%>">
    <div class="display_header">
        <%=link_to display.name, {:controller => :displays, :action => :show, :id => display.id}%>
    </div>
    <div class="display_current_slide">
        <%=current_slide_tag(display)%>
    </div>
    <div class="display_metadata">
        <ul>
            <li>Presentation: <%=display.presentation ? link_to(display.presentation.name, :controller => :presentations, :action => :show, :id => display.presentation.id) : 'Not defined'%></li>
            <li>Uptime: <%=display.uptime%></li>
            <li><%=display_ping display%></li>
            <li>Monitored: <%=display.monitor ? 'Yes' : 'No'%>
        </ul>
    </div>
    <div class="display_actions">
		 <%=toggle_link_to 'Overrides', display.do_overrides, {:controller => :displays, :action => :update, :id => display.id, :display => {:do_overrides => !display.do_overrides}}, {:method => :put, :remote => true}%>
        <%=toggle_link_to 'Manual control', display.manual, {:controller => :displays, :action => :update, :id => display.id, :display => {:manual => !display.manual}}, {:method => :put, :remote => true}%>
	    <%=link_to 'Details', {:controller => :displays, :action => :show, :id => display.id}, :class => 'button'%>
	    <%=link_to 'Edit', {:controller => :displays, :action => :edit, :id => display.id}, :class => 'button'%>
		<%=link_to 'Remote control', {:controller => :displays, :action => :dpy_control, :id => display.id}, :class => :button%>
    </div>
    
</div>