<% override.each do |oq| %>
<li id="override_queue_<%= oq.id %>" >
	<div class="handle">⇕</div>
	<div class="slideimage"><%=slide_preview_to_show_tag oq.slide%></div>
	
	<div class="slidename">
	  <%=link_to oq.slide.name, :controller => :slides, :action => :show, :id => oq.slide.id %> <br />
	  <br />
		Duration: <%=form_for oq, :url => {:action => :update_override, :id => oq.id} do |f| %>
	    <%=f.text_field :duration, :size => 3, :class => 'duration_spinner'%> <%=f.submit 'Change duration'%>
	  <%end%>
	  
	</div>
	<div class="actions">
	   <%=button_to 'Remove', {:controller => :displays, :action => :remove_override, :id => oq.id}, :class => 'redbutton'%>
	</div>
	
</li>
<%end%>