<%
#TODO: Read-only override-queue

%>

<h1>Display information for: <%=@display.name%> (<%=@display.ip%>)</h1>

<script>
  dispatcer = new WebSocketRails('localhost:3000/websockets');
  message = {'display_id': '<%=@display.id%>'};
  dispatcher.trigger('current_slide', message);
</script

<%if @display.presentation%>
  <p><b>Presentation:</b> <%=link_to @display.presentation.name, :controller => :presentations, :action => :show, :id => @display.presentation.id%></p>
<%else%>
  <p><b>This display doesn't have a presentation asigned to it!</b></p>
<%end%>

<p><b>Monitor this display</b> (shows error notification on top if display hasn't been active for <%=Display::Timeout.to_s%> minutes): <%=@display.monitor ? 'Yes' : 'No' %></p>


<%=authorized_users(@display)%>

<%if @display.can_override?(current_user) or !@display.override_queues.empty?%>
<h2>Override queue</h2>
<p>
  <%=link_to 'Add slide to queue', :action => :add_slide, :id => @display.id if @display.can_override?(current_user)%>
</p>

<table class="compact_slidelist override_queue">
  <tr>
    <th>
      Queued slides
    </th>
  </tr>
  <tr>
    <td>
      <%@display.override_queues.each do |oq|%>
        <%=render :partial => 'slides/slide', :locals => {:slide =>  oq.slide}%>
      <%end%>
    </td>
  </tr>
</table>
<%end%>



<%content_for :navigation do %>
  <%if @display.can_edit? current_user%>
	<%=link_to 'Edit', :action => :edit, :id => @display.id%>
	<%end%>
	<%=link_to 'Slide stats', :action => :slide_stats, :id => @display.id%>
<%end%>