<%
#TODO: Read-only override-queue

%>

<h1>Display information for: <%=@display.name%> (<%=@display.ip%>)</h1>

<div class="display_properties">
	
	<%=render @display%>

	<div class="extra_information">
		<h2>Extra information</h2>
		<ul>
			<li>IP: <%=@display.ip%></li>
			<li>Last contact at: <%=l @display.last_contact_at, :format => :short%></li>
			<li>Metadata updated at: <%=l @display.metadata_updated_at, :format => :short%></li>
			<li>Updated at: <%=l @display.updated_at, :format => :short%></li>
			<li>Created at: <%=l @display.created_at, :format => :short%></li>
		</ul>
		<%=authorized_users(@display)%>
	</div>
</div>

<%if !@display.override_queues.empty?%>
	<div class="override_queue">

		<h2>Slides in override queue</h2>
	 	
			<%@display.override_queues.each do |oq|%>
        		<%=render :partial => 'slides/slide', :locals => {:slide =>  oq.slide}%>
      		<%end%>
	</div>
	
<%end%>

<%content_for :navigation do %>
  <%if @display.can_edit? current_user%>
	<%=link_to 'Edit', :action => :edit, :id => @display.id%>
	<%end%>
	
	<%=link_to 'Remote control', :action => :dpy_control, :id => @display.id%>
	
	<%=link_to 'Slide stats', :action => :slide_stats, :id => @display.id%>
<%end%>