<svg width="1280" height="720" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

 <g>
  <title>taustakuva</title>
  <image xlink:href="backgrounds/empty.png" id="background_picture" height="720" width="1280" y="0" x="0"/>
 </g>
 <g>
  <title>teksti</title>
  <text font-weight="normal" xml:space="preserve" text-anchor="start" font-family="FranklinGothicHeavy" font-size="70" id="header" y="100" x="0" stroke="#000000" fill="#ffffff" stroke-width="2">
   <tspan xml:space="preserve" id="header_text"><%=CGI::escapeHTML @header%></tspan>
  </text>
  <%if @contents %>
  <%i = 0 %>
  <%@contents.split(';').each do |c| %>
  <text font-weight="normal" xml:space="preserve" text-anchor="start" font-family="FranklinGothicHeavy" font-size="48" id="slide_content_<%=i.to_s%>" y="<%= 200 + @offset * i %>" x="30" stroke-width="2" stroke="#000000" fill="#ffffff"><%lines = c.split('ยง')%><%l = lines[0]%><tspan xml:space="preserve" id="slide_content_text_<%=i.to_s%>"><%=l.empty? ? ' ' : CGI::escapeHTML(l)%></tspan>
  <%lines.delete_at(0)%><%lines.each do |l|%><% i += 1 %>
  <tspan x="30" dy="1em" xml:space="preserve" id="svg_2"><%=l.empty? ? ' ' : CGI::escapeHTML(l)%></tspan>
  <%end%>
  </text>
	<% i += 1 %>
	<%end %>
	<%end %>
 </g>
</svg>