<h1>Upload new image to ISK library</h1>

<p>ISK accepts all image formats handled by ImageMagick. All orginal images will be converted to .png for internal usage and a resized preview image will be created. Creating of the image files is handled by a background process so it might take few moments for the image to display correctly.</p>

<%=form_for @image, :url => {:action => :create} do |f|%>
	<%=f.error_messages%>
	<%=render :partial => 'form'%>
	<p><b>Upload file:</b><%=f.file_field :upload%></p>
	<%=f.submit "Create"%>
<%end%>