<!DOCTYPE html>
	<html>
		<head>
			<title>ISK @ <%=request.host%> : <%=controller.controller_name.capitalize%> ⇒ <%=controller.action_name.capitalize%></title>
			<%= stylesheet_link_tag		 "application", :media => "all" %>
			<%= javascript_include_tag "application" %>
			<%= csrf_meta_tags %>
			<link rel="icon" type="image/gif" href="/favicon.gif" />
			<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		</head>
		<body>
			<%=render :partial => 'shared/display_warnings'%>
		
		<div class="topNavigation">&nbsp;
			<div class='tabs'>&nbsp;<%=navigation_links%></div>
			<div class='logout'>
				I'm <b><%=current_user.username%></b>
				<%=link_to 'Logout', {:controller => :logins, :action => :destroy}, :method => :delete%>
			</div>
		</div>
		<%=render :partial => "navigation" %>
		<div class='flash'>
			<div class="error"><%= flash[:error]%></div>
			<div class="notice"><%= flash[:notice] %></div>
			<div class="warning"><%= flash[:warning]%></div>
		</div>
		
		<div class='content'>
			<%= yield %>
		</div>
	
	</body>
</html>
