<!DOCTYPE html>
<html>
<head>
  <title>Isk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<p class="flash_notice"><%= flash[:notice] %></p>
	<p class="flash_error"><%= flash[:error]%></p>

<%= yield %>

</body>
</html>
